node_modules
reports
cypress/screenshots/
cucumber-json-formatter.exe
cypress/fixtures/intercept
cypress.env.json
cypress-visual-screenshots/comparison
cypress-visual-screenshots/diff
cypress-visual-report